---
import { type TProductCategory } from "@rxdrag/website-lib-core";
import { ProductCategoryQueryOptions, ProductCategoryFields } from "@rxdrag/rxcms-models";
import { rx } from "theme";
import { Link, ModalTrigger } from "@rxdrag/website-lib";
import { Icon } from "@rxdrag/website-lib-core";
import Logo from "@/components/Logo.astro";
import ProductsPopover from "@/components/ProductsPopover.astro";
import Langs from "@/components/Langs.astro";
import MobileMenu from "@/components/MobileMenu.astro";
import ProductsCollapse from "@/components/ProductsCollapse.astro";
import SearchModal from "@/components/SearchModal.astro";
const categories = (
  await rx.queryEntityList(
    new ProductCategoryQueryOptions(
      [
        ProductCategoryFields.id,
        ProductCategoryFields.name,
        ProductCategoryFields.slug,
      ],
      {
        where: {
          lang: {
            abbr: {
              _eq: rx.getLang(),
            },
          },
        },
        orderBy: [{ seqValue: "asc" }],
      }
    ),
    "categories-in-nav"
  )
)?.items as TProductCategory[] | undefined;---

<header class:list={[{ dark: "dark" }]}>
  <div class:list={[
      "fixed w-full max-w-screen px-0 top-0 left-0 z-30 header",
      "scrolled:bg-white/70 hover:bg-white/70  scrolled:shadow-lg  transition-all duration-300",
      "text-foreground scrolled:text-black text-base scrolled:text-sm",
      "scrolled:backdrop-blur-md hover:backdrop-blur-md",
      "group/header",
    ]}>
    <nav aria-label="主导航" class:list={[
        "relative w-full container flex items-center justify-between transition-all duration-500 h-[5rem]  scrolled:h-[4rem]",
      ]}>
      <div class="flex items-center w-[160px]">
        <Logo alt="Coendia 标志" title="Coendia 标志" />
      </div>
      <div class="self-stretch hidden lg:flex gap-x-6 xl:gap-x-20 flex-1 justify-center">
        <div class="flex items-center relative">
          <Link class="desk-nav-link" to="/" activeWhen={true}>
            首页
          </Link>
        </div>
        <div class="flex items-center relative">
          <Link class="desk-nav-link" to="/about" activeWhen={true}>
            关于我们
          </Link>
        </div>
        <div class="flex items-center relative">
          <Link class="desk-nav-link" to="/technology" activeWhen={true}>
            技术
          </Link>
        </div>
        <div class="flex items-center relative">
          <ProductsPopover title="解决方案" categories={categories} />
        </div>
        <div class="flex items-center relative">
          <Link class="desk-nav-link" type="posts" activeWhen="/posts">
            博客
          </Link>
        </div>
        <div class="flex items-center relative">
          <Link class="desk-nav-link" to="/contact" activeWhen={true}>
            联系我们
          </Link>
        </div>
      </div>
      <div class="lg:justify-end items-center gap-4 hidden lg:flex">
        <ModalTrigger as="button" openableKey="search-modal" class="group-hover/header:text-black outline-none p-1">
          <Icon className="size-5" icon="iconoir:search" client:load />
        </ModalTrigger>
        <Langs />
      </div>
      <div class="flex lg:hidden text-foreground">
        <ModalTrigger as="button" openableKey="mobile-menu" class="text-foreground hover:text-foreground-hover outline-none p-1 scrolled:text-black">
          <Icon className="size-6" icon="iconoir:menu" client:load />
        </ModalTrigger>
      </div>
    </nav>
  </div>
  <MobileMenu>
    <img alt="Coendia 标志" class="h-8 w-auto transition-all" src="https://yizhanfei-prod1.oss-accelerate.aliyuncs.com/4299262263298/771b1b7e-aed2-4c4f-bb48-df5dfe9fc857.png" />
    <div class="space-y-2 py-6 pl-2 flex flex-col gap-4">
      <Link class="font-semibold" to="/" activeWhen={true}>
        首页
      </Link>
      <Link class="font-semibold" to="/about" activeWhen={true}>
        关于我们
      </Link>
      <Link class="font-semibold" to="/technology" activeWhen={true}>
        技术
      </Link>
      <ProductsCollapse class="font-semibold" title="解决方案" categories={categories} />
      <Link class="font-semibold" type="posts" activeWhen="/posts">
        博客
      </Link>
      <Link class="font-semibold" to="/contact" activeWhen={true}>
        联系我们
      </Link>
    </div>
  </MobileMenu>
  <SearchModal title="搜索..." />
</header>